.postcontainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.FeedContainer{
    border: 1px solid #E1E8ED;
    width: 618px;
    height: auto;
    padding: 10px 16px;
}

.FeedContainer:hover{
    background-color: #e1e8ed75;
}

.createPost{
    border: 1px solid #E1E8ED;
    width: 618px;
    height: fit-content;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 70px;
}

.userInfo{
    display: flex;
    flex-direction: row;
    
}

.username {
 padding-top: 5px;
 margin-left: 10px;
 
}

.description {
    padding: 5px;
    margin-left: 58px;
    height: auto;
    overflow-wrap: break-word;
    margin-top: 20px;
}

.UserLogo{
    width: 40px;
    height: 35px;
    background-color: black;
    color: white;
    font-size: 30px;
    text-align: center;
    padding-top: 5px;
    border-radius: 50%;

}

.homefeeddefaultuser {
    width: 40px;
    height: 35px;
    background-color: black;
    color: white;
    font-size: 30px;
    text-align: center;
    padding-top: 5px;
    border-radius: 50%;
}


.ProfileImage{
    width: 40px;
    height: 35px;
    background-color: none;
    border-radius: 50%;
    cursor: pointer;

}

.feedimage {
    width: 502px;
    border-radius: 20px;
    margin-left: 58px;
    margin-top: 10px;
    height: auto;
}

.editanddelete{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 15px;
    gap: 5px;
}

.deleteIconBtn{
    background-color: transparent;
    border: transparent;
    color: #1da0f2b4;
    cursor: pointer;
}

.editthought{
    background-color: transparent;
    border: transparent;
    color:  #1da0f2b4;
    cursor: pointer;
}

h2{
 border: transparent;
 background-color: rgba(255, 255, 255, 0.827);
 margin: 0px;
 height: 50px;
 position: fixed;
 padding-top: 10px;
 width: 621px;
 padding-left: 10px;
 font-family: 'Roboto', sans-serif;
 font-weight: 900;
}
