.dove{
 padding: 5px;
 width: 60px;
 height: 60px;
}
.home{
    color: #1DA1F2;
   padding: 15px;
 
}
.home:hover{
    
    border-radius: 60%;
    background-color: #1da0f253;
    
}

.NavBar{
    width: 200px;
    height: 700px;
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    margin-right: 10px;
}
.logout{
    width: 160px;
    padding: 15px;
    border-radius: 30px;
    border: none;
    background-color: #1DA1F2;
    color: #F5F8FA;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 17px;
    text-align: center;
    text-decoration: none;
    margin-top: 639px;
    cursor: pointer;
}

.sidebarhome{
    width: 160px;
    height: 50px;
    border-radius: 30px;
    border: none;
    background-color: #1DA1F2;
    color: #F5F8FA;
    font-family: Helvetica, Arial,  sans-serif;
    font-weight: bold;
    font-size: 17px;
    text-align: left;
    text-decoration: none;
    margin-top: 50px;
    
}

.fa-house{
    border: none;
    width: 25px;
    height: 25px;
    padding: 12px;
    margin-right: 5px;
    margin-left: 5px;
    
}

.NavLogOut {
    padding: 20px;
    display: grid;
    
}

.Profilebutton{
    width: 130px;
    padding: 15px;
    border-radius: 30px;
    border: none;
    background-color: #1DA1F2;
    color: #F5F8FA;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 17px;
    text-align: center;
    text-decoration: none;
    margin-top: 30px;
}