
.home{
    color: #1DA1F2;
    margin: 0px 76px;
    font-size: 2rem;
    padding: 10px;
}
.home:hover{
    
    border-radius: 50%;
    background-color: #bbe1f853;
    
}

.NavBar{
    padding: 15px;
    width: 100%;
    max-height: fit-content;
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    margin-right: 10px;
}
.logout{
    width: 130px;
    padding: 15px;
    border-radius: 30px;
    border: none;
    background-color: transparent;
    color: #040404;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 17px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
 
}
.logout:hover{
    background-color: #57575745;
}

.sidebarhome{
    width: 107px;
    padding: 15px;
    border-radius: 30px;
    border: none;
    background-color: transparent;
    color: #040404;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin: 20px 76px;
}
.sidebarhome:hover{
    background-color: #57575745;

}

/* .fa-house{
    border: none;
    width: 25px;
    height: 25px;
    padding: 12px;
    margin-right: 5px;
    margin-left: 5px;
    
} */

.NavLogOut {
    padding: 20px;
    display: grid;
    
}
#icons{
    margin-right: 10px;
}
#icon{
    margin-right: 10px;
}
#homeicon{
    width: 100px;
}
.Profilebutton{
    width: 100px;
    padding: 15px;
    border-radius: 30px;
    border: none;
    margin: 20px 76px;
    color: #000000;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}

.Profilebutton:hover{
     background-color: #57575745;
}