.Commentscontainer{
    border: 1px solid #AAB8C2;
    padding: 20px;
    margin: 10px;
    /* width: 438px; */
    /* overflow-y: scroll; */
    /* max-height: 500px; */
    margin-top: 0px;
    margin-bottom: 0px;
}

.CommentPostContainer{
    border: #F5F8FA solid 1px;
    padding: 20px;
    margin: 12px;
    background-color: #F5F8FA;
    border-radius: 5px;
}

.createcomment{
    border: 1px solid #AAB8C2;
    padding: 20px;
    margin: 10px;
    /* width: 438px; */
    margin-bottom: 0px;

}

.editanddeletecomment{
    
    margin-top: 19px;
}

.overflow{
    
    /* max-height: 700px; */
    max-height: 80%;
    overflow-y: scroll;
    width: 601px;
    margin-bottom: 10px;
}

.CommentProfileImage{
    width: 52px;
    height: 43px;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    
}

.xxmainpost{
    width: 70px;
    height: 60px;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    
}

.editnote{
    border: 1px solid #AAB8C2;
    padding: 20px;
    padding-left: 40px;
    margin: 27px;
    width: auto;
}

/* #editimageInput{
    padding: 5px;
    width: 300px;
} */

#editcomment{
    width: auto;
    /* margin: 5px; */
    height: 43px;
    /* margin-bottom: 5px; */
    border-color: #657786;
    resize: none;
    outline: none;
}

/* .createPostForm{

} */

.editdeletecomment{
    display: flex;
}

.edit{
    width: 90px;
    height: 35px;
    border-radius: 30px;
    border: none;
    background-color: #1DA1F2;
    color: #F5F8FA;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 170px;
    cursor: pointer;

}

.commentuserInfo{
    display: flex;
    flex-direction: row;

}

.commentusername{
  font-size: 17px;
}

.wkcahdu{
    margin-top: 30px;
    margin-left: 24px;
    max-width: 418px;
    white-space: pre-line;
    overflow-wrap: break-word;
    padding: 10px;
    margin-bottom: 15px;

}


.postusername{
    padding-top: 6px;
    font-size: 12px;
} 
.names{
    padding-top: 6px;
    margin-left: 10px;
    
}
.commentfeedimage {
    width: 300px;
    border-radius: 20px;
    margin-left: 58px;
    margin-top: 10px;
    height: auto;
}
.feedcommentimage{
    width: 490px;
    border-radius: 20px;
    margin-left: 24px;
    /* margin-top: 28px; */
    height: auto;

}

.comment{
    background: none;
    border: none;
    color: #1da0f2b4;
    cursor: pointer;
    /* padding: 5px;
    margin: 10px; */
}

.commentdelete{
    background: none;
    border: none;
    color: #1DA1F2;
    margin-left: 380px;
    margin-bottom: 10px;
}
/* .userComments{

} */

.CommentButton{
    width: 90px;
    height: 35px;
    border-radius: 30px;
    border: none;
    background-color: #1DA1F2;
    color: #F5F8FA;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    margin: 5px;
    cursor: pointer;
}