.Commentscontainer{
    border: 1px solid #AAB8C2;
    padding: 20px;
    margin: 10px;
    width: 438px;
    overflow-y: scroll;
    max-height: 500px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.CommentPostContainer{
    border: #E1E8ED solid 1px;
    padding: 20px;
    margin: 12px;
    background-color: #E1E8ED;
    border-radius: 5px;
}

.createcomment{
    border: 1px solid #AAB8C2;
    padding: 20px;
    margin: 10px;
    width: auto;
    margin-bottom: 0px;
}

.overflow{
    
    max-height: 1000px;
    overflow-y: scroll;
    width: auto;
    margin-bottom: 10px;
}

.CommentProfileImage{
    width: 52px;
    height: 43px;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    
}

.xxmainpost{
    width: 70px;
    height: 60px;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    
}

.editnote{
    border: 1px solid #AAB8C2;
    padding: 20px;
    padding-left: 40px;
    margin: 10px;
    width: auto;
}

/* #editimageInput{
    padding: 5px;
    width: 300px;
} */

#editcomment{
    padding: 5px;
    width: 250px;
    resize: none;
}

/* .createPostForm{

} */

.edit{
    width: 90px;
    height: 35px;
    border-radius: 30px;
    border: none;
    background-color: #1DA1F2;
    color: #F5F8FA;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 170px;

}
.commentuserInfo{
    display: flex;
    flex-direction: row;

}

.commentusername{
  font-size: 17px;
}

.wkcahdu{
    margin-top: 30px;
    margin-left: 4px;
    max-width: 418px;
    white-space: pre-line;
    overflow-wrap: break-word;
    padding: 10px;
    margin-bottom: 10px;
}


.postusername{
    padding-top: 6px;
    font-size: 12px;
} 
.names{
    padding-top: 6px;
    margin-left: 10px;
    
}
.commentfeedimage {
    width: 300px;
    border-radius: 20px;
    margin-left: 58px;
    margin-top: 10px;
    height: auto;
}
.feedcommentimage{
    width: 300px;
    border-radius: 20px;
    margin-left: 24px;
    margin-top: 28px;
    height: auto;

}

.comment{
    background: none;
    border: none;
    color: #1da0f2b4;
    /* padding: 5px;
    margin: 10px; */
}

.commentdelete{
    background: none;
    border: none;
    color: #1DA1F2;
    margin-left: 380px;
    margin-bottom: 10px;
}
.userComments{
    overflow-y: scroll;
}

.CommentButton{
    width: 90px;
    height: 35px;
    border-radius: 30px;
    border: none;
    background-color: #1DA1F2;
    color: #F5F8FA;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    margin: 5px;

}