.signUpFormContainer{
    padding: 10px 100px;
    width: fit-content;
    display: flex;
    flex-direction: column;
}
.buttonclose{
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 10px 12px;
}
.signuplink{
    color: #1DA1F2;
    text-decoration: none;
}
.buttonclose:hover{
    border-radius: 50%;
    background-color: rgba(198, 194, 194, 0.325);
}
.signUpForm{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.signupInput{
    width: 316px;
    height: 40px;
    margin-bottom: 15px;
    
}

.signupInput:hover{
    border-radius: 2px;
    border: .5px solid #1DA1F2;
}

.signupBtn{
    width: 324px;
    height: 45px;
    border-radius: 30px;
    border: none;
    background-color: #657786c8;
    color: #F5F8FA;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    margin-top: 46px;
    margin-bottom: 10px;
    /* margin-left: 65px; */
    cursor: pointer;
}

.signupBtn:hover{
    background-color: #65778696;
}

.error{
    color: #1DA1F2;
    padding: 10px;
}

.login{
    color: #1DA1F2;
    margin-left: 47%
}

h1{
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    
}
#logincomponent{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 320px;
}
.box{
    margin: 60px 0px;
}
.loginbutton{
    width: 324px;
    height: 40px;
    border-radius: 30px;
    border: none;
    background-color: #000000c8;
    color: #F5F8FA;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    /* margin-left: 32px; */
    cursor: pointer;
}
.loginbutton:hover{
    color: #000000c8;
    background-color: #cccecf;
}
.signup{
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 25px;
    padding-bottom: 30px;
    text-align: center;
    width: 308px;
}

.orboxlogin{
    height: 13px;
    margin: 10px 0px;
    display: flex;
    width: 324px;
}