.createPostDiv{
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    margin-left: 58px;
    gap: 5px;
    
}


#CommentInput{
    border: none;
    width: 350px;
    height: 70px;
    /* margin-top: 20px; */
    font-family: Helvetica, Arial, sans-serif;
    resize: none;
    margin-bottom: 10px;
}

#imageInput{
    margin-left: 52px;
    width: 278px;
    height: 40px;
    margin-bottom: 15px;
    border: none;
}

.createusername{
    padding: 10px;
    
}

.errors{
    color: #1DA1F2;
    padding: 10px;
}

#commentImage {
    width: 70px;
    height: 60px;
    background-color: none;
    border-radius: 50%;
    cursor: pointer;
    padding-left: 20px;
}

.commentdefaultuser {
    
        width: 80px;
        height: 70px;
        background-color: black;
        color: white;
        font-size: 55px;
        text-align: center;
        padding-top: 5px;
        border-radius: 50%;
    
    
}

/* .border{
    border: black solid 1px;
    height: 100px;

} */