
.EditProfileImage{
    width: 90px;
    height: 55px;
    background-color: none;
    border-radius: 5px;
    cursor: pointer;
}

#editPostInput{
    width: auto;
    margin: 5px;
    height: 80px;
    color: #AAB8C2;
    border-color: #657786;
}

#editimageInput{
    margin: 5px;
    padding: 5px;
    width: auto;
    color: #AAB8C2;
   
}

.header {
    width: 90px;
    text-align: center;
    color: #AAB8C2;
    margin-top: 25px;
}

.EditPost{
    display: flex;
    flex-direction: row;
    width: 400px;
    padding: 30px;
    grid-gap: 10px;
    gap: 10px;
}

.editpostform{
    display: flex;
    flex-direction: column;
    width: 400px;
}
