
.EditProfileImage{
    width: 90px;
    height: 55px;
    background-color: none;
    border-radius: 5px;
    cursor: pointer;
}

#editPostInput{
    width: auto;
    /* margin: 5px; */
    height: 80px;
    margin-bottom: 5px;
    border-color: #657786;
    resize: none;
    outline: none;
}

#editimageInput{
    
    padding: 5px;
    width: auto;
    /* border-radius: 5px; */
    resize: none;
    outline: none;
   
}

.header {

    color: black;
    margin: 10px;
    font-size: 20px;
}

.EditPost{
    border-radius: 5px;
    width: 400px;
    padding: 30px;
    grid-gap: 10px;
    gap: 10px;
}

.editpostform{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 10px;
}

.editUserInfo{
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
}

.edituserlogo{
    width: 54px;
    height: 42px;
    background-color: black;
    color: white;
    font-size: 30px;
    text-align: center;
    padding-top: 8px;
    border-radius: 5px;
    margin-left: 17px;
}